<html>
<body>
<div>
  <div>
    Dear {{name}},
  </div>
  <div>
    <p>
      Congratulations!!
    </p>
    <p>
      Thanks for choosing us to deliver for you, we are now finding a Carryr for you.
    </p>
    <p>
      We won't be long, we promise!
    </p>
    <p>
      What's next?
    </p>
    <p>
      Once a Carryr has accepted the job we will let you know via email and we will also send you a unique code for you to show the Carryr upon collection.
    </p>
    <p>
      Don't worry, it's just so we know you're happy with the collection.
    </p>

  </div>
</div>
</body>
</html>
