<div>
  <p>Dear <strong>{{name}}</strong>,</p>
  <br/>
  <br/>
  <p>
  </p>
  <p>
    The Job has been booked successfully. More details below
  </p>
  <br/>
  <br/>
  <div>
    <div style="width:48%;float:left">
      <p>
        From address:
      </p>
      <p>{{parcel.fromAddress.name}}</p>
      <p>{{parcel.fromAddress.doorNo}}</p>
      <p>{{parcel.fromAddress.street}}</p>
      <p>{{parcel.fromAddress.area}}</p>
      <p>{{parcel.fromAddress.city}}</p>
      <p>{{parcel.fromAddress.country}}</p>
      <p>{{parcel.fromAddress.postCode}}</p>
      <p>+{{parcel.fromAddress.phoneNumber.countryCode}} {{parcel.fromAddress.phoneNumber.number}}</p>
      <p>{{parcel.fromAddress.email}}</p>
    </div>
    <div style="width:48%;float:left">
      <p>
        To address:
      </p>
      <p>{{parcel.toAddress.name}}</p>
      <p>{{parcel.toAddress.doorNo}}</p>
      <p>{{parcel.toAddress.street}}</p>
      <p>{{parcel.toAddress.area}}</p>
      <p>{{parcel.toAddress.city}}</p>
      <p>{{parcel.toAddress.country}}</p>
      <p>{{parcel.toAddress.postCode}}</p>
      <p>+{{parcel.toAddress.phoneNumber.countryCode}} {{parcel.toAddress.phoneNumber.number}}</p>
      <p>{{parcel.toAddress.email}}</p>
    </div>
  </div>
  <p>
    Go Carryr!
  </p>
</div>
